body{
    font-family: Tahoma;
}
.top-nav{
    background-color: #2c3e50;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.top-nav #nav-brand{
    font-family: Comic Sans MS;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
    font-size: 30px;
}
.top-nav .menu-path {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.top-nav .menu-path:hover{
    color:  #ddd;
}
.top-nav .menu-path .button{
    font-family: Tahoma;
    border: none;
    color: white;
    background-color: #F433FF;
    text-decoration: none;
    font-size: 17px;
    padding: 3px 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.top-nav .menu-path .button:hover{
    background-color: #2c3e50;
}
.main-course{
    min-height: 1300px;
}
.main-course .course-left{
    min-height: 400px;
    width: 30%;
    float: left;
    border-right: 1px solid cyan;
}
.main-course .course-left h4{
    background-color: #2c3e50;
    padding: 10px 0px;
    text-align: center;
    color: white;
}
.main-course .course-left ul li{
    list-style: none;
}
.main-course .course-left ul{
    border: 1px solid chocolate;
}
.main-course .course-left img{
    border: 1px solid black;
    width: 80%;
    margin-left: 40px;
}
.main-course .course-right{
    min-height: 400px;
    width: 65%;
    float: right;
}
.main-course .course-right ul li{
    list-style: none;
    clear: left;
    padding-top: 40px;
}
.main-course .course-right ul{
    border-bottom: 1px solid burlywood;
    padding-bottom: 170px;
}
.main-course .course-right ul li img{
    float: left;
    margin-right: 10px;
}
.footer{
    min-height: 300px;
    background-color: #2d2a2a;
    text-align: center;
    margin-top: 20px;
}
.footer p{
    color: white;
}